<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/edit.css" />
  <title>Edit painting Page</title>
</head>

<body>
  <header>
    <h1>Edit Painting Page</h1>
    <a href="/paintings"><button class="btn-grad">Go back to painting index</button></a>
  </header>
  <main>
    <div class="form-structor">
      <div class="signup">
        <form action="/paintings/<%= painting._id %>?_method=PUT" method="POST">
          <div class="new-card">
            <div class="row">
              <div class="name">Title:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.title %>" /></div>
            </div>
            <div class="row">
              <div class="name">Date:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.date %>" /></div>
            </div>
            <div class="row">
              <div class="name">Dimensions:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.dimensions %>" /></div>
            </div>
            <div class="row">
              <div class="name">Image:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.image %>" /></div>
            </div>
            <div class="row">
              <div class="name">Medium:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.medium %>" /></div>
            </div>
            <div class="row">
              <div class="name">Name:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.dame %>" /></div>
            </div>
            <div class="row">
              <div class="name">Owner:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.owner %>" /></div>
            </div>
            <div class="row">
              <div class="name">Category:</div>
              <div class="input"><input type="text" name="name" value="<%= painting.category %>" /></div>
            </div>
            
            <input type="submit" value="Edit painting" />
        </form>
        <form  action="/paintings/<%= painting._id %>?_method=DELETE"
          method="POST">
          <input type="submit" value="DELETE" />
      </div>
      </form>
    </div>
    </div>
  </main>
  <footer><%- include('./partials/footer.ejs')%></footer>
</body>

</html>

