<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="/index.css" />
  <title>Product List</title>
</head>

<body>
  <div class="mainContainer">
  <header class="text">
    <h1><span></span>THE ART GALLERY</span></h1>
    <div class="btn-container">
      <div>
      <a href="/logout"><button >Logout</button></a>
    </div>
    </div>
  </header>
  <main>
    <div id="container">
    <div class="main-1">
      <div class="tab">
      <article class="content">
      <h1>Collect art and design online</h1>
      <div class="index">
        <% paintings.forEach(elem => { %>
          <p class="text-hover"><a href="/paintings/<%= elem._id %>"> <%= elem.title %> </a></p>
        <% }) %>
      </div>
<!-- Buttons prev next -->
<div class="next-btn"></div>
      <% if (pageNum>0) { %>
        <a href="/paintings?pageNum=<%= pageNum-1 %>&pageSize=<%= pageSize %>"><button>Previous Page</button></a>
      <% } %>
      <% if (hasNextPage) { %>
        <a href="/paintings?pageNum=<%= pageNum+1 %>&pageSize=<%= pageSize %>"><button>Next Page</button></a><br><br>
      <% } %>
      <a href="/paintings/new"><button>Add New Painting</button></a>
    </div>
    </div>
    <div class="main-2">
      <% paintings.forEach(elem => { %>
        <figure class="effect-chico">
          <div class="card-yellow">
          <img class="inline-img"  src="<%= elem.image %>" alt="<%= elem.img %>" />
          </div>
      </figure>
      <% }) %>
     
    </div>
  </div>
  </article>
  </main>
  <footer><%- include('./partials/footer.ejs')%></footer>
</div>

</body>

</html>