<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs')%>
  <link rel="stylesheet" href="/index.css" />
  <title>Product List</title>
</head>

<body>
  <header class="text">
    <h1><span></span>The ART GALLERY</span></h1>
    <div>
      
      <a href="/logout"><button>Logout</button></a>

    </div>
  </header>
  <main>
    <div class="main-1">
      <article class="content">
      <h1>The Most Expensive Paintings In the World</h1>
      <div class="index">
        <% paintings.forEach(elem => { %>
          <p><a href="/paintings/<%= elem._id %>"> <%= elem.title %> </a></p>
        <% }) %>
      </div>
      <a href="/paintings/new"><button>Add New Painting</button></a>
      
    </div>
    <div class="main-2">
      <% paintings.forEach(elem => { %>
      <div class="parent-white">
        <div class="card-yellow">
          <img onclick="window.open(this.src)" src="<%= elem.image %>" alt="<%= elem.img %>" />
        </div>
      </div>
      <% }) %>
     
    </div>
  </article>
  </main>
  <footer><%- include('./partials/footer.ejs')%></footer>
</body>

</html>